body {
    background: #f3f3f3;
}

.container {
    text-align: center;
}

button {
    border: none;
    background-color: blue;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}